/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@font-face {
    font-family: "FuturaPT";
    src: url('../fonts/AG_Futura Regular.ttf') format('ttf');
}
@font-face {
    font-family: "FuturaLight";
    src: url('../fonts/FuturaLight Light.ttf') format('ttf');
}
@font-face {
    font-family: "MoskauGroteskLite";
    src: url('../fonts/MoskauGrotesk-Light.ttf') format('ttf');
}
@font-face {
    font-family: "MoskauGroteskMed";
    src: url('../fonts/MoskauGrotesk-Medium.ttf') format('ttf');
}
@font-face {
    font-family: "Futura PT - Demi";
    src: url('../fonts/FuturaRoundDemi.ttf') format('ttf');
}
* {
    outline: none;
}
a {
    text-decoration: none;
    color: inherit;
}
html {
    font-family: "FuturaPT", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #252525;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1230px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.dwnl-btn_sm {
    display: inline-block;
    padding: 10px 21px;
    border-radius: 3px;
    background-color: #ee0979;
    cursor: pointer;
}
.dwnl-btn_sm:hover {
    background-color: #3d146d;
}
header {
    color: white;
    font-family: "FuturaPT", sans-serif;
}
.humburger-menu-btn {
    display: none;
    cursor:  pointer;
}
.header-logo-fileboom {
    margin-left: 15px;
    margin-top: 37px;
    font-family: "MoskauGroteskLite", sans-serif;
    font-size: 42px;
    line-height: 30px;
}
.header-logo-fileboom span {
    font-family: "MoskauGroteskMed", sans-serif;
    font-weight: 700;
}
.header__dwnl-content-btn {
    margin-right: 15px;
    margin-top: 31px;
    position: relative;
    padding: 17px 20px 17px 70px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
}
.header__dwnl-content-btn:before {
    position: absolute;
    display: block;
    content: "";
    top: 13px;
    left: 20px;
    width: 30px;
    height: 30px;
    background: url("../images/arrow-circle.png");
    transform: rotate(90deg);
}
.header__title {
    margin-bottom: 64px;
    padding-top: 68px;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}
.header__title__movies-count {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1.8px;
    line-height: 38px;
}
.header__title__movies-descr {
    padding-top: 15px;
    font-family: "FuturaLight", sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    line-height: 43px;
}
.header-search {
    margin-top: 64px;
    position: relative;
    width: 601px;
    margin: 0 auto;
    text-align: center;
}
.header-search input {
    width: 601px;
    border: 1px solid white;
    border-radius: 3px;
    padding: 21px 0 21px 27px;
    color: rgb(82, 82, 82);
    font-weight: 700;
    letter-spacing: 1px;
}
.header-search input::placeholder {
    opacity: 0.3;
    color: #525252;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
.loupe-icon {
    top: -1px;
    right: -20px;
    position: absolute;
    content: "";
    display: inline-block;
    width: 66px;
    height: 62px;
    background: url("../images/loupe.svg") no-repeat 50% 50%;
    background-color: #ee0979;
    cursor: pointer;

}
.loupe-icon:hover {
    background-color: #3d146d;
}
.main-header__background {
    position: relative;
}
.main__header-menu {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1230px;
    z-index: 50;
    position: absolute;
    bottom: -1px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px 6px rgba(81, 81, 81, 0.06);
}
.header-menu__item_logo {
    width: 51px;
    height: 51px;
}
.header-menu__item:hover .logo-hover {
    fill: #ee0979;
}
.header-menu__item {
    height: 70px;
    width: 170px;
    border-right: 1px solid #d2d2d2;
    color: #252525;
    font-family: "FuturaPT", sans-serif;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
.header-menu__item:last-child {
    border-right: none;
}
.header-menu__item div {
    padding-top: 3px;
}

/*---------------------------------*/
/*FOOTER*/
/*-----------------------------------*/

footer {
    font-family: "FuturaPT", sans-serif;
    color: white;
}
.footer-background {
    background-color: #18062e;
    padding: 0 15px;
}
.footer-logo {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}
.footer-menu {
    font-family: "FuturaPT", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}
.footer-menu div {
    margin-left: 40px;
}
.footer-nav-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
}
.footer-info {
    padding-top: 30px;
    padding-bottom: 35px;
    opacity: 0.3;
}
.footer-info__nav {
    padding-bottom: 15px;
}
.footer-info__nav a:hover {
    text-decoration: underline;
}
.footer-info__nav div {
    padding-right: 15px;
    padding-left: 10px;
    border-right: 1px solid white;
    display: inline-block;
}
.footer-info__nav div:last-child {
    border-right: none;
}
.footer-info__nav div:first-child {
    padding-left: 0;
}
.footer-info_content {
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}
.fileboom-all-rights .container {
    display: flex;
    justify-content: space-between;
}
.fileboom-all-rights {
    margin-top: -1px;
    background-color: rgb(15, 3, 28);
    padding: 15px 0;
}
.all-rights-reserved {
    font-weight: 300;
    opacity: .5;
}
.footer_trade-mark {
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    opacity: 1;
}
.abuse-anti-spam {
    color: white;
    font-size: 12px;
    font-weight: 300;
    line-height: 30px;
    text-decoration: underline;
}
/* ==========================================================================
  SMS POPUP
   ========================================================================== */
.sms-popup__container {
    margin: 0 auto;
    max-width: 962px;
}
.sms-popup__head {
    padding: 24px 0;
    background-color: #ebebeb;
    background-image: linear-gradient(-219deg, #ee0979 0%, #330867 100%);
    opacity: 0.94;
    text-align: center;
    color: #ffffff;
    font-size: 19px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: -0.15px;
}
.sms-popup__content {
    display: flex;
    flex-wrap: nowrap;
    height: 528px;
    box-shadow: 0 10px 32px rgba(81, 81, 81, 0.26);
    background-color: #f2f2f2;
}
.sms-popup__lock {
width: 50%;
}
.sms-popup__lock-ico {
    margin: 0 auto;
    margin-top: 130px;
    width: 119px;
    height: 143px;
    background: url("../images/lock-ico-purple.png") no-repeat;
}
.sms-popup__form {
    width: 50%;
    color: #280b32;
    font-family: "Futura PT - Demi", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: -0.13px;
}
.sms-popup__form input {
    height: 52px;
    padding-left: 15px;
    border-radius: 3px;
    background-color: #ffffff;
    border-style: none;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    color: #280b32;
}
.sms-popup__form label {
    display: block;
    padding-top: 35px;
    padding-bottom: 17px;
}
.sms-popup__form .input__code {
    max-width: 283px;
    width: 100%;

}
.sms-popup__form .input__captcha {
    max-width: 183px;
    width: 100%;
}
.sms-popup__form__dwnl-button {
    display: inline-block;
    margin-top: 35px;
    padding: 22px 65px;
    border-radius: 3px;
    background-color: #ee0979;
    color: #ffffff;
    font-family: "Futura PT - Heavy", sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.76px;
    cursor: pointer;
}
.sms-popup__form__dwnl-button:hover {
    background-color: #3d146d;
}
.sms-popup__form__back-btn {
    display: inline-block;
    margin-top: 28px;
    padding: 9px 17px;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
    color: #d1d1d1;
    font-family: "Futura PT - Heavy", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.52px;
    cursor: pointer;
}
.sms-popup__form__back-btn:hover {
    color: black;
    border: 1px solid black;
}
/* ==========================================================================
  SMS POPUP enter-phone-number
   ========================================================================== */
.sms-popup__epn {
    width: 100%;
}
.sms-popup__epn__content  {
    display: flex;
    flex-wrap: nowrap;
    box-shadow: 0 10px 32px rgba(81, 81, 81, 0.26);
}
.sms-popup__epn__content_img {
    box-shadow: inset 0 600px 600px rgba(57, 18, 109, 0.4);
    width: 504px;
    height: 449px;
    background: url(../images/sms-popup__epn__content_img.png) no-repeat;
}
.sms-popup__epn__lock-ico {
    width: 119px;
    height: 143px;
    margin: 0 auto;
    margin-top: 154px;
    background: url(../images/lock-ico-white.png) no-repeat;
    background-size: cover;
}
.sms-popup__epn__confirming {
    padding-left: 29px;
    height: 100%;
    width: 780px;
}
.sms-popup__epn__confirming_title {
    padding-top: 95px;
    color: #3e156f;
    font-family: "Futura PT - Heavy", sans-serif;
    font-size: 27px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1.08px;
}
.sms-popup__epn__confirming_descr {
    color: #252525;
    font-family: "Futura PT - Demi", sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-top: 22px;
    letter-spacing: 0.54px;
}
.sms-popup__epn form input {
    padding-left: 25px;
    margin-top: 35px;
    width: 343px;
    height: 65px;
    border-radius: 3px;
    border: 1px solid #e8e8e8;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #280b32;
}
.sms-popup__epn form input::placeholder {
    color: #d4d4d4;
    font-family: "Futura PT", sans-serif;
    font-size: 19px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.76px;
}
.sms-popup__epn__confirm-btn {
    margin-top: 20px;
    padding: 22px 66px;
    display: inline-block;
    border-radius: 3px;
    background-color: #ee0979;
    color: #ffffff;
    font-family: "Futura PT - Heavy", sans-serif;
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.76px;
    cursor: pointer;
}
.sms-popup__epn__confirm-btn:hover {
    background-color: #3d146d;
}
.sms-popup__epn__cancel-btn {
    padding: 21px 46px;
    margin-left: 20px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #ee0979;
    color: #ee0979;
    font-family: "Futura PT - Heavy", sans-serif;
    font-size: 19px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.76px;
    cursor: pointer;
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}