.promo {
  width: 100%;
  height: 100vh;
  background: url(../img/tribe-screen.jpg) no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}
.test {
  background: white;
  width: 100%;
  height: 500px;
}